@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* COLORS */
  --clr-primary: #fafafa;
  --clr-secondary: #3164e4;
  --clr-black: #000000;
  --clr-white: #ffffff;

  /* TYPOGRAPHY */
  --fs-desktop-xxl: 80px;
  --fs-desktop-xl: 48px;
  --fs-desktop-lg: 40px;

  --fs-desktop-md: 20px;
  --fs-desktop-sm: 18px;
  --fs-desktop-xs: 16px;
  --fs-desktop-xxs: 12px;

  /* IMAGES */
  --background-hero: ;
  --background-cta: ;
}

/* CSS RESET */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.button-default {
  display: inline-block;
  width: 240px;
  padding: 15px 0;
  text-align: center;

  font-size: var(--fs-desktop-sm);
  font-weight: 500;

  background-color: var(--clr-primary);
  border-radius: 5px;
}

.button-default--dark {
  background-color: var(--clr-black);
  color: var(--clr-white);
}


.button-default:hover {
  transition: 0.2s;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

/* NAVIGATION BAR */
/* ============================================================================================== */
header {
  width: 100%;
  padding: 0 1rem;

  position: absolute;
  z-index: 300;
  top: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.logo {
  object-fit: cover;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 1rem;
}

.nav__link {
  color: var(--clr-primary);
  font-size: var(--fs-desktop-sm);
  font-weight: 500;
}

/* HERO SECTION */
/* ============================================================================================== */

.hero {
  padding: 18em 0 15rem 0;
  background: url("/images/puerto-vallarta-bg-hero.webp"), #000000;
  background-size: cover;
}

.hero-small {
  padding: 8em 0 10rem 0;
}

.hero-wrapper {
  max-width: 1400px;

  margin: 0 auto;
  text-align: center;
}

.hero__title {
  width: 86%;
  margin: 0 auto;

  font-size: var(--fs-desktop-xxl);
  font-weight: 600;
  color: var(--clr-primary);
  line-height: 1;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 2rem;
}

/* ABOUT SECTION */
/* ============================================================================================== */
.about {
  padding: 1rem;
}

.about-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 6rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-wrapper--reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.about__image {
  max-width: 620px;
  object-fit: cover;
}

.about__title {
  font-size: var(--fs-desktop-xl);
  font-weight: 500;
  line-height: 1;
  width: 90%;
  margin-bottom: 3rem;
}

.about__info {
  font-size: var(--fs-desktop-md);
  font-weight: 400;
  margin-bottom: 3rem;
}

/* PLATFORMS  */
/* ============================================================================================== */
