@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* COLORS */
  --clr-primary: #fafafa;
  --clr-secondary: #3164e4;
  --clr-black: #0e0e0e;
  --clr-white: #ffffff;
  --clr-gray: #f8f8f7;


  /* TYPOGRAPHY */
  --fs-desktop-xxl: 80px;
  --fs-desktop-xl: 48px;
  --fs-desktop-lg: 40px;

  --fs-desktop-md: 20px;
  --fs-desktop-sm: 18px;
  --fs-desktop-xs: 16px;
  --fs-desktop-xxs: 12px;

  /* IMAGES */
  --background-hero: ;
  --background-cta: ;
}

/* CSS RESET */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}


/* ================================================================================================ */
                                    /* REUSEABLE COMPONENTS */  
/* ================================================================================================ */

.button-default {
  display: inline-block;
  width: 240px;
  padding: 15px 0;
  text-align: center;

  font-size: var(--fs-desktop-sm);
  font-weight: 500;

  background-color: var(--clr-primary);
  border-radius: 5px;
}

.button-default--dark {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.button-default:hover {
  transition: 0.2s;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

/* NAVIGATION BAR */
/* ============================================================================================== */
header {
  width: 100%;
  padding: 0 1rem;

  position: absolute;
  z-index: 300;
  top: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.logo {
  object-fit: cover;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 1rem;
}

.nav__link {
  color: var(--clr-primary);
  font-size: var(--fs-desktop-sm);
  font-weight: 500;
}

.nav__link:hover {
  text-decoration: underline;
}

/* HERO SECTION */
/* ============================================================================================== */

.hero {
  padding: 18em 0 15rem 0;
  background: url("/images/bg-puerto-vallarta-hero.webp"), #000000;
  background-size: cover;
}

.hero-small {
  padding: 8em 0 10rem 0;
}

.hero-wrapper {
  max-width: 1400px;

  margin: 0 auto;
  text-align: center;
}

.hero__title {
  width: 86%;
  margin: 0 auto;

  font-size: var(--fs-desktop-xxl);
  font-weight: 600;
  color: var(--clr-primary);
  line-height: 1;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 2rem;
}


/* CALL TO ACTION  */
/* ================================================================== */
.cta-banner {
  margin: 2rem 1rem;
}

.cta-banner-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 0;
  border-radius: 10px;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("/images/bg-call-to-action-banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.cta-banner__title {
  max-width: 500px;
  margin: 0 auto 3rem auto;

  font-size: var(--fs-desktop-lg);
  font-weight: 500;
  line-height: 1.1;
  color: var(--clr-white);
}

/* FOOTER */
/* ================================================================== */
footer {
  margin-top: 6rem;
  padding: 5rem 1rem;

  background: #0e0e0e;
  color: #ffffff;
}


.footer-nav {
  max-width: 1050px;
  margin: 0 auto;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-nav-wrapper {
  width: 33.3%;
  height: auto;
}

.footer-nav__title {
  font-size: var(--fs-desktop-xs);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-nav__item {
  margin-bottom: 1rem;
}

.footer-nav__link {
  font-size: var(--fs-desktop-xxs);
  font-weight: 400;
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-social {
  display: inline-block;
  font-size: 22px;
  margin-right: .8rem;
}

.footer-copyright {
  text-align: center;
  margin-top: 5rem;
}

.footer-copyright p {
  font-size: var(--fs-desktop-xxs);
  font-weight: 400;
}

@media (max-width: 800px) {
  .footer-nav {
    flex-flow: column wrap;
  }
}

/* ================================================================================================ */
                                    /* WEBSITE SECTIONS  */  
/* ================================================================================================ */



/* PLATFORMS  */
/* ============================================================================================== */
.platforms {
  padding: 6rem 0 8rem 0;
}

.platforms-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.platforms__title {
  font-size: var(--fs-desktop-lg);
  font-weight: 500;
  margin-bottom: 3.4rem;
}

.platforms-images {
  max-width: 1294px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .platforms-images{
    flex-flow: column wrap;
  }
}


/* ABOUT SECTION */
/* ============================================================================================== */
.about {
  padding: 1rem;
}

.about-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 6rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-wrapper--reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.about__image {
  max-width: 620px;
  object-fit: cover;
}

.about__title {
  font-size: var(--fs-desktop-xl);
  font-weight: 500;
  line-height: 1;
  width: 90%;
  margin-bottom: 3rem;
}

.about__info {
  font-size: var(--fs-desktop-md);
  font-weight: 400;
  margin-bottom: 3rem;
}

